.theme-form {
  .submit-btn-div {
    /*width: 140px;
    padding: 13px;*/
    .btn-save {
      padding: 15px 40px 15px 40px;
    }
  }

  .form-input {
    .error {
      margin-top: 10px;
      font-size: 14px;
      color: var(--bs-pink);
    }
  }
}