.component-tool-lock {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
    z-index: 99999;
  .field {
    border: 1px solid #ffffffba;
    color: white;

    &:focus,
    &:not(:placeholder-shown) {
      border: 0;
    }

    &:hover {
      border-color: unset;
    }
  }

  .label {
    background: transparent;
    color: white;
  }

  .lock-full-bg {
    background: url("/images/auth/lock.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .lock-profile-img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }

  .auth-form {
    background: transparent;

    .form-control,
    .input-group-text {
      border-color: theme-color(secondary);

      &:focus,
      &:active {
        border-color: theme-color(secondary);
      }
    }

    select {
      outline-color: theme-color(secondary);
    }
  }

  form {
    .form-group {
      margin-bottom: 1.5rem;

      label {
        font-size: .8125rem;
      }

      .form-control {
        background: transparent;
        border-radius: 0;
        font-size: .9375rem;
      }
    }

    .auth-form-btn {
      padding: 1rem 3rem;
      line-height: 1.5;
    }

    .auth-link {
      font-size: $default-font-size;

      &:hover {
        color: initial;
      }
    }
  }
}