[data-theme=dark] {
  color-scheme: dark;
  --theme-sidebar-bg: #18151e;
  --theme-sidebar-menu-hover-bg: #25222c;
  --theme-bg: #18151e;
  --theme-text-muted-color: #a3a3a3;
  --theme-content-wrapper-bg: #31333d;
  --theme-h3-text-color: #fff;
  --theme-menu-title-color: #b0bec5;
  --theme-menu-title-active-color: #fff;
  --theme-navbar-bg: #18151e;
  --theme-worldmap-stroke-bg: #7f7f7f;
  --theme-p-text-color: 202, 201, 201;
  --theme-profile-text-color: 255, 255, 255;
  --theme-footer-bg: #18151e;
  --theme-card-statistic-title-color: #b0bec5;
  --theme-table-bg: #31333d;
  --theme-table-gradient-color: linear-gradient(to right, #18151e, #31333d);
  --theme-table-row-border-color: #7675751f;
  --theme-table-hover-bg: #270137;
  --theme-table-text-color: #b0bec5;
  --theme-table-pagination-btn-color: rgb(198 198 198 / 82%);
  --theme-table-pagination-btn-disable-color: rgb(161 161 161 / 37%);
  --theme-input-label-color: #b9b9b9bf;
  --theme-input-color: #b9b9b9;
  --theme-gradient-primary-color: linear-gradient(to right, #6e3a87, #432175);
  --theme-gradient-secondary-color: linear-gradient(to right, #78797a, #555556);
  --theme-gradient-success-color: linear-gradient(to right, #347a75, #0f7565);
  --theme-gradient-info-color: linear-gradient(to right, #3d6d94, #175b92 99%);
  --theme-gradient-warning-color: linear-gradient(to right, #85762b, #87730f);
  --theme-gradient-danger-color: linear-gradient(to right, #854d29, #851e39);
  --theme-gradient-light-color: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
  --theme-gradient-dark-color: linear-gradient(89deg, #5e7188, #3e4b5b);
  --theme-input-field-border-color: #000;
  --theme-link-color: #000;
  --theme-card-profile-title-color:#b0bec5;
  --theme-footer-text-color: #b0bec5;
  --theme-gallery-bg: #18151e;
  --theme-card-text-color: #b0bec5;
  --theme-content-language-bg: #31333d;
  --theme-content-language-label-color: #b0bec5;
  --theme-nav-tabs-link-active-bg: #31333d;
  --theme-profile-card-bg: #18151e;
  --theme-profile-card-text-color: #fff;
  --theme-box-shadow: #e5e5e51c;
};