.theme-table {
  overflow: hidden;
  position: relative;

  .component-table-spinner {
    position: relative;
    min-height: 550px;
  }

  .table-responsive {
    min-height: 550px;
    .theme-data-table {
      min-height: 550px;
      max-height: none;
    }
    .image {
      img {
        width: 50px;
        height: 50px;
        border-radius: 75px;
      }
    }
  }

  .rdt_Table {
    div {
      background-color: var(--theme-bg) !important;
      color: var(--theme-table-text-color) !important;
    }

    .rdt_TableRow {
      border-bottom-color: var(--theme-table-row-border-color) !important;

      &:hover {
        background-color: var(--theme-bg);
        border-bottom-color: var(--theme-table-row-border-color) !important;
        outline: none !important;
      }
    }

    .rdt_TableHeadRow {
      border-bottom-color: var(--theme-table-row-border-color) !important;
    }
  }

  .rdt_Pagination {
    background-color: var(--theme-table) !important;
    color: var(--theme-table-text-color) !important;

    button {
      fill: var(--theme-table-pagination-btn-color) !important;

      &:disabled {
        fill: var(--theme-table-pagination-btn-disable-color) !important;
      }
    }
  }
}