.jodit {
  .jodit-workplace {
    color: black;
  }

  .jodit-input {
    color: black;
  }
  .jodit-select {
    color: black;
  }

  .jodit-ui-input__input {
    color: black;
  }

  .jodit-ui-text-area__input {
    color: black;
  }

  .jodit-icon { 
    font-size: 14px;
  }
}