:root{
  color-scheme: light;
  --theme-sidebar-bg: #fff;
  --theme-sidebar-menu-hover-bg: #f8f8f8;
  --theme-bg: #fff;
  --theme-text-muted-color: #777777;
  --theme-content-wrapper-bg: #f2edf3;
  --theme-h3-text-color: #000;
  --theme-menu-title-color: inherit;
  --theme-menu-title-active-color: #000;
  --theme-navbar-bg: #fff;
  --theme-worldmap-stroke-bg: #000;
  --theme-p-text-color: 62, 75, 91;
  --theme-profile-text-color: #000;
  --theme-footer-bg: #fff;
  --theme-card-statistic-title-color: #343a40;
  --theme-table-bg: #fff;
  --theme-table-gradient-color: linear-gradient(to right, #ffbf9630, #fe709617);
  --theme-table-row-border-color: #0000001f;
  --theme-table-hover-bg: #f2edf3;
  --theme-table-text-color: #000;
  --theme-table-pagination-btn-color: rgba(0,0,0,.54);
  --theme-table-pagination-btn-disable-color: rgba(0,0,0,.18);
  --theme-input-label-color: #0000007a;
  --theme-input-color: black;
  --theme-gradient-primary-color: linear-gradient(to right, #da8cff, #9a55ff);
  --theme-gradient-secondary-color: linear-gradient(to right, #e7ebf0, #868e96);
  --theme-gradient-success-color: linear-gradient(to right, #84d9d2, #07cdae);
  --theme-gradient-info-color: linear-gradient(to right, #90caf9, #047edf 99%);
  --theme-gradient-warning-color: linear-gradient(to right, #f6e384, #ffd500);
  --theme-gradient-danger-color: linear-gradient(to right, #ffbf96, #fe7096);
  --theme-gradient-light-color: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
  --theme-gradient-dark-color: linear-gradient(89deg, #5e7188, #3e4b5b);
  --theme-input-field-border-color: rgb(109, 109, 109);
  --theme-link-color: #0d6efd;
  --theme-card-profile-title-color:#343a40;
  --theme-footer-text-color: #6c757d;
  --theme-gallery-bg: #fff;
  --theme-card-text-color: #343a40;
  --theme-content-language-bg: #f2edf3;
  --theme-content-language-label-color: #000;
  --theme-nav-tabs-link-active-bg: #fff;
  --theme-profile-card-bg: #fff;
  --theme-profile-card-text-color: #000;
  --theme-box-shadow: #00000030;
};