.theme-table-toggle {
  position: unset;
  .theme-table-toggle-btn {
    color: var(--theme-table-text-color);
    background: none !important;
    border: 0 !important;
    outline: 0 !important;
    &:hover, &:active, &:focus {
      color: var(--theme-h3-text-color);
    }
    &:after {
      content: none;
      margin: 0;
    }

    i {
      font-size: 1.5rem;
    }
  }

  /*.dropdown-menu {
    display: block;
    max-height: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    &.show {
      max-height: 900px;
      visibility: visible;
    }
  }*/

  .theme-table-toggle-menu {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    .dropdown-item {
      color: var(--theme-table-text-color);
      line-height: 2;
      &:hover {
        background-color: var(--theme-sidebar-menu-hover-bg);
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}